<!DOCTYPE html>
<html>
<head>
<title>Pie Discord Bot</title>
</head>
<body>
<h1>Hello Word</h1>
<br>
Bot has been running for <%- botuptime %>
<br>
Has <%- guildamount %> guilds
<br>
Has <%- useramount %> users
</body>
</html>